[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "prezto"]
	path = prezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "zgen"]
	path = zgen
	url = https://github.com/tarjoilija/zgen.git
[submodule "nodenv"]
	path = nodenv
	url = https://github.com/nodenv/nodenv.git
[submodule "node-build"]
	path = node-build
	url = https://github.com/nodenv/node-build.git
[submodule "nodenv-update"]
	path = nodenv-update
	url = https://github.com/nodenv/nodenv-update
[submodule "nodenv-aliases"]
	path = nodenv-aliases
	url = https://github.com/nodenv/nodenv-aliases
[submodule "rbenv"]
	path = rbenv
	url = https://github.com/rbenv/rbenv.git
[submodule "ruby-build"]
	path = ruby-build
	url = https://github.com/rbenv/ruby-build
[submodule "exenv"]
	path = exenv
	url = https://github.com/exenv/exenv.git
[submodule "elixir-build"]
	path = elixir-build
	url = https://github.com/mururu/elixir-build.git
