[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "prezto"]
	path = prezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "zgen"]
	path = zgen
	url = https://github.com/tarjoilija/zgen.git
[submodule "nodenv"]
	path = nodenv
	url = https://github.com/nodenv/nodenv.git
[submodule "node-build"]
	path = node-build
	url = https://github.com/nodenv/node-build.git
